.jfx-combo-box {
    -fx-text-fill: #ffffff;
    -fx-prompt-text-fill: #ffffff40;
}

.jfx-decorator {
    -fx-decorator-color: RED;
}

.jfx-decorator .jfx-decorator-buttons-container {
    -fx-background-color: -fx-decorator-color;
}

.jfx-decorator .resize-border {
    -fx-border-color: -fx-decorator-color;
    -fx-border-width: 0 4 4 4;
}