

.jfx-text-field, .jfx-password-field, .jfx-text-area {
    -fx-text-fill: #ffffff;
    -fx-prompt-text-fill: #ffffff40;
}

.jfx-decorator {
    -fx-decorator-color: RED;
}

.jfx-decorator .jfx-decorator-buttons-container {
    -fx-background-color: -fx-decorator-color;
}

.jfx-decorator .resize-border {
    -fx-border-color: -fx-decorator-color;
    -fx-border-width: 0 4 4 4;
}

.jfx-text-area, .text-area {
    -fx-font-weight: BOLD;
}

.jfx-text-field:error, .jfx-password-field:error, .jfx-text-area:error {
    -jfx-focus-color: #D34336;
    -jfx-unfocus-color: #D34336;
}

.jfx-text-field .error-label, .jfx-password-field .error-label, .jfx-text-area .error-label {
    -fx-text-fill: #D34336;
    -fx-font-size: 0.75em;
}

.jfx-text-field .error-icon, .jfx-password-field .error-icon, .jfx-text-area .error-icon {
    -fx-text-fill: #D34336;
    -fx-font-size: 1em;
}